@media only screen and (min-width: 1680px) and (max-device-width: 1920px) {
.clothes, .interface, .constants{ top:3vh}
.v1{height:25vh;}
.v2{height:18vh;}
.thello, .torder { font-size: 18pt; top:2vh; }
.buttonok{top:4vh;}
.tok{font-size:18pt;}
.bye {height:10vw;}
.tbye {font-size: 18pt; top: 3vh;}
.t1{font-size: 26pt; top: 1vh;}
.footer{top:16vh; height:12vh;}
}

@media only screen and (min-width: 1680px) and (max-device-width: 1858px) {
  .thello, .torder { font-size: 16pt; top:3.5vh; }
  .tbye{font-size:16pt; top: 2.5vh;}
}
@media only screen and (min-width: 1440px) and (max-device-width: 1680px) {
  .v1{width:27vw; height:26vh;}
  .v2{height:18vh;}
  .thello, .torder { font-size: 16pt; top:2vh; width: 25vw; left: calc(50% - 12.5vw);}
  .buttonok{top:4vh;}
  .tok{font-size:16pt;}
  .bye {height:10vw; width:23vw; left: calc(50% - 11.5vw);}
  .tbye {font-size: 16pt; top: 2vh; width: 21vw; left: calc(50% - 10.5vw);}
  .t1{font-size: 24pt;}
  .footer{top:18vh; height:16vh;}
}

@media only screen and (min-width: 1300px) and (max-device-width: 1440px) {
.t1{font-size: 22pt;}
.torder{width: 22vw; left: calc(50% - 11vw);}
.bye{top:30vh;}
}

@media only screen and (min-width: 1200px) and (max-device-width: 1300px) {
  .t1{font-size: 20pt;}
  .tok{font-size:14pt;}
  .torder{width: 22vw; left: calc(50% - 11vw);}
  .v1{height:27vh; top:22vh;}
  .v2{height:17vh;}
  .thello, .torder { font-size: 14pt; top:2vh; width: 23vw; left: calc(50% - 11.5vw);}
  .bye{top:25vh;}
  .tbye{top:3vh;}
  .tfooter{font-size: 14pt;}
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* iPad */
.logo{width:20vw; height:20vw; top:0; left: calc(50% - 15vw);}
.plashki{width:30vw; height: 20vw;}
.patchwork{width:12vw; height:6vw; top:20%;}
.generator{ width:16vw; height:6vw; top:37%;}
.clothes{width:26vw; height:28vw; left: calc(50% - 13vw);}
.interface{width: 28vw; height: 6vw; left: calc(50% - 14vw);}
.button{ width:6vw; height:6vw;}
.arrow{width:9vw; height:9vw;}
.left, .right{bottom: 17vw;}
.gotovo{width:26vw; height:4vw;}
.t1{font-size: 24pt; top:0.3vh;}
  .tok{font-size:16pt; top:0.4vh;}
  .buttonok{width: 12vw; height:4vh; left: calc(50% - 6vw);}
  .torder{width: 22vw; left: calc(50% - 11vw);}
  .hello{height:27vh; width:34vw; top:32vh; left: calc(50% - 17vw);}
  .v2{height:17vh;}
  .thello, .torder { font-size: 16pt; top:2vh; width: 31vw; left: calc(50% - 15.5vw);}
  .bye{top:30vh; width: 32vw; left: calc(50% - 16vw);}
  .tbye{top:4vh; font-size: 16pt; width: 30vw; left: calc(50% - 15vw);}
  .tfooter{font-size: 14pt;}
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* iPad Portrait */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  /* iPad Landscape */
}


@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: landscape) {
  /* iPhone Landscape */
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) and (orientation: portrait) {
  /* iPhone Portrait */
